<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro ZG Sistemas</title>
    <link rel="stylesheet" href="/static/cadastro.css">
</head>
<body>
    <div class="pagina">
        <div class="left_container">
            <img src="/static/images/hive.svg" alt="Logo de comeia" class="logo">
            <h1 class="left_titulo">
                ZG Sistemas
            </h1>
        </div>
        <form method="POST" action="/cadastrausuario" class="container">
            <h1 class="titulo">
                Cadastro
            </h1>
            <p class="paragrafo">
                Preencha os campos abaixo para se cadastrar.
            </p>
            <label for="email" class="label-email">
                E-mail
            </label>
            <input type="Email" class="email" placeholder="Digite seu e-mail" name="email">
            <label for="senha" class="label-password">
                Senha
            </label>
            <input type="password" class="password" placeholder="Digite sua senha" name="password">
            <button type="submit" class="botao">Cadastrar</button>
            <a href="/">Pagina inicial</a>
            <p class="teste">{{ output }}</p>
        </form>
    </div>
</body>
</html>
